################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Couper
/Couper/Couper.csproj.user
/Couper/obj/Debug
/Couper/bin/Debug
/packages
/Couper/bin/Release
/Couper/obj/Release
